<div class="row">
	<div class="col-xs-12">
		<div ng-hide="subjectRenaming">
			<div class="btn-group pull-right">
				<button class="btn btn-default"
				        ng-click="subjectRenaming=true">
					<span class="glyphicon glyphicon-edit"></span>
				</button>
				<button class="btn btn-default dropdown-toggle"
				        data-toggle="dropdown">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu dropdown-menu-right">
					<li class="dropdown-header text-center">Action of Subject</li>
					<li><a href="#">
						<span class="glyphicon glyphicon-send"></span>
						share&hellip;
					</a></li>
					<li class="divider"></li>
					<li><a href="#">
						<span class="glyphicon glyphicon-off"></span>
						Close
					</a></li>
				</ul>
			</div>
			<h1 class="text-{{color}}">{{title}}</h1>
		</div>
		<form class="input-group input-group-lg"
		      ng-show="subjectRenaming"
		      ng-submit="renameSubject(newTitle); subjectRenaming=false">
			<input class="form-control"
			       ng-init="newTitle=title"
			       ng-model="newTitle" />

			<div class="input-group-btn">
				<button class="btn"
				        type="submit"
				        ng-class="titleBtnCls(title, newTitle)">
					<span class="glyphicon"
					      ng-class="titleIcoCls(title, newTitle)"></span>
				</button>
			</div>
		</form>
	</div>
</div>
<div class="row" ng-repeat="stream in list">
	<div class="col-xs-12 page-header">
		<div ng-hide="streamRenaming">
			<div class="btn-group pull-right">
				<button class="btn btn-default"
				        ng-click="streamRenaming=true">
					<span class="glyphicon glyphicon-edit"></span>
				</button>
				<button class="btn btn-default dropdown-toggle"
				        data-toggle="dropdown">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu dropdown-menu-right">
					<li class="dropdown-header text-center">Action of Stream</li>
					<li><a href="#">
						<span class="glyphicon glyphicon-share"></span>
						Move&hellip;
					</a></li>
					<li class="divider"></li>
					<li><a href="#">
						<span class="glyphicon glyphicon-off"></span>
						Close
					</a></li>
				</ul>
			</div>
			<h2 class="text-muted">{{stream.title}}</h2>
		</div>
		<form class="input-group input-group-lg"
		      ng-show="streamRenaming"
		      ng-submit="renameStream(stream, newTitle); streamRenaming=false">
			<input class="form-control"
			       ng-init="newTitle=stream.title"
			       ng-model="newTitle" />

			<div class="input-group-btn">
				<button class="btn"
				        type="submit"
				        ng-class="titleBtnCls(stream.title, newTitle)">
					<span class="glyphicon"
					      ng-class="titleIcoCls(stream.title, newTitle)"></span>
				</button>
			</div>
		</form>
	</div>
	<div class="col-xs-12 col-sm-6 col-lg-4"
	     ng-repeat="flow in stream.flows">
		<blockquote class="panel-{{flow.color}}">
			<a class="text-{{flow.color}}"
			   ng-href="#/flow/{{flow.id}}">{{flow.title}}</a>
		</blockquote>
	</div>
	<form class="col-xs-12 col-sm-6 col-lg-4"
	      ng-submit="createFlow(newFlow)">
		<blockquote class="input-group">
			<input class="form-control"
			       placeholder="New Flow&hellip;"
			       ng-model="newFlow" />

			<div class="input-group-btn">
				<button class="btn btn-default">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</div>
		</blockquote>
	</form>
</div>
<div class="row">
	<hr />
	<div class="col-xs-12 col-sm-7 col-lg-8">
		<div class="input-group input-group-sm">
			<input class="form-control"
			       placeholder="New Stream&hellip;"
			       ng-model="newStream" />

			<div class="input-group-btn">
				<button class="btn btn-default">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</div>
		</div>
	</div>
	<p class="visible-xs">&nbsp;</p>

	<div class="col-xs-12 col-sm-5 col-lg-4">
		<div class="btn-group btn-group-justified">
			<div class="btn-group btn-group-sm"
			     ng-repeat="co in colorOptions">
				<button class="btn btn-{{co}}"
				        ng-click="changeColor(co)">
					<span class="glyphicon"
					      ng-class="{'glyphicon-ok':co===color}"></span>
				</button>
			</div>
		</div>
	</div>
</div>
